server:
  port: 8082

spring:
  application:
    name: product-service
  datasource:
    # 1. CAMBIO IMPORTANTE: localhost -> mysql-db (o el nombre de tu servicio mysql en docker-compose)
    url: jdbc:mysql://mysql-db:3306/marketcali_product_db
    username: miguel
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.security: DEBUG

eureka:
  client:
    service-url:
      # 2. CAMBIO IMPORTANTE: localhost -> discovery-service
      defaultZone: http://discovery-service:8761/eureka/