server:
  port: 8083

spring:
  application:
    name: sales-service
  datasource:
    url: jdbc:mysql://mysql-db:3306/marketcali_sales_db
    username: miguel
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
